@use "global" as *;
.c-section-header{
    color: #391E88;
    text-align: center;
}
.c-section-header__title{
    font-size: rem(30);
    line-height: calc(36/30);
    letter-spacing:1.5px;
    text-transform: uppercase;
    font-family: $english-font-family;
    font-weight: $bold;
    @include mq('md'){
        font-size: rem(36);
        line-height: calc(43/36);
        letter-spacing:0.72px;
    }
}
.c-section-header__subtitle{
    font-size: rem(13);
    line-height: calc(16/13);
    letter-spacing:0.65px;
    color: #391E88;
    font-weight:600;
}
.c-section-header--left{
    text-align: left;
}
.c-section-header--white{
    color:#fff;
    }