@use "global" as *;
.p-pc-nav__items{
    display: flex;
    // gap: rem(25);
    align-items: center;
    height:inherit;
}
.p-pc-nav__item{
    height: inherit;
    display: flex;
    align-items: center;
}
.p-pc-nav__item a{
    // height: inherit;
    color: $white;
    font-family:$english-font-family;
    text-transform: uppercase;
    font-size: rem(14);
    padding-right:rem(13);
    padding-left:rem(12);
    font-weight: $bold;
    letter-spacing: 0.07em;
    line-height: calc(25/14);
    display: inline-block;
    align-items: center;
    transition: all 0.3s;
    position:relative;
}
.p-pc-nav__item:last-child a {
    padding-right:0;
}
.p-pc-nav__item a::before{
    content: "";
	position: absolute;
	left: 0;
	bottom:0;
	width: 0;
	height: 1px;
	background: $white;
	transition: 0.3s;
}
.p-pc-nav__item a:hover::before{
    width: 100%;
}











