@use "global" as *;
.l-contact {
    margin-top:rem(110); 
}
.l-contact--mt0{
    margin-top:0;
}
.p-contact{
    padding:rem(60) rem(0) ;
    background-color:#F0F0F0;
    @include mq('md'){
        padding:rem(70) rem(0) ;
    }
}
.p-contact__body {
    text-align: center;
}

.p-contact__text {
    margin-top: rem(30);
    font-size: rem(14);
    line-height: calc(25/14);
    letter-spacing:0.05em;
    @include mq('md'){
        font-size: rem(15);
        line-height: calc(27/15);
    
    }
}



