@use "global" as *;
.l-recruit {
    margin-top: rem(60);
    @include mq('md'){
        margin-top: rem(40);
    }
}
.recruit__image {
    aspect-ratio:345/200 ;
    @include mq('md'){
        aspect-ratio:666/347 ;  
        width:60%;  
    }
}
.p-recruit__image img{
    object-fit: cover;
    height: 100%;
}

.p-recruit__body {
    margin-top: rem(70);
    text-align:center;
    @include mq('md'){
        padding:rem(70) rem(103);  
        margin-top: 0;
        width: 40%;
    }
}
.p-recruit__text{
    margin-top:rem(30);
    font-size: rem(14);
    line-height: calc(25/14);
    letter-spacing:0.05em;
}
.p-recruit__btn {
    margin-top:rem(30);
}
.p-recruit__container{
    @include mq('md'){
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
        background: orange;
}
}



